body {
  background: #ddd;
}

.container {
  margin: 0 auto;
  padding: 10px;
}

.topnav {
  text-align: right;
}

.copyright {
  text-align: center;
}

.contain:before, .contain:after {
    content: "";
    display: table;
}
.contain:after {
  clear: both;
}
.contain {
  clear: both;
  *zoom: 1;
}

nav, section, article, aside, footer {
  background: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

nav span {
  padding: 10px
}

section {
  margin: 10px 0;
}

aside {
  background-color: cyan;
  float: right;
  margin: 0 10px;
  width: 30%;
}
